html, body{
    background-color:#e4dbbd;
    margin:0;
    height: 100%;
}

.wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header{
    text-align: center;
    padding: 25px;
    background-color:#ca9b7f;
    font-weight: bold;
}

.main__title{
    text-align: center;
}

.container__listAll{
    padding: 10px;
    margin: 0px;
    border-radius: 15px;
}

.book__content{
    border: 0.5px solid rgb(119, 118, 118);
    border-radius: 10px;
    margin:20px;
    padding: 10px;
    background-color: rgb(233, 215, 192);
    border: 1px solid grey;
}

.book__content:hover{
    cursor: pointer;
    background-color:#ca9b7f;
    opacity: 90%;
    transition: 0.5s;
    border: 1px solid grey;
}

.bookname{
    font-size: 18px;
    margin:0;
    font-style: italic;
}

.li__description{
    list-style: none;
    font-size: 15px;
    margin-left: 20px;
}

/* Start Form newBook */

.main__title-form{
   margin: auto;
   text-align: center;
   margin-bottom: 20px;
}
.container{
    padding: 80px;
    margin: 40px;
    border-radius: 15px;
}


.form {
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-top: 0px;
    margin-left: 50px;
    margin-right: 50px;
}

input{
    border: none;
    border-bottom: 3px solid black;
    /* border-left: 3px solid black; */
    /* border-top: 3px solid black; */
    border-radius: 8px;
    padding: 0.9rem;
    margin: 0.5rem;
    font-size: 15px;
    background-color: transparent;
}

.submit{
    border: 1px solid black;
    border-radius: 10px;
    padding: 0.9rem;
    margin: 0.5rem;
    font-size: 15px;
    cursor: pointer;
}

.submit:hover{
    background-color:#ca9b7f;
    border: 2px solid black;
    transition: 0.4s;
}

/* End Form newBook */

footer{
    padding: 25px;
    background-color:#ca9b7f;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}

/* Start Modal window */

.container__modalWindowFromPost{

    background-color:transparent;
    border: 1px solid black;
    border-radius: 20px;
    width: 400px;
    height: 200px;
    padding:60px;
    margin:auto;
    margin-top: 250px;
    box-shadow: 12px 12px 5px 5px rgb(87, 86, 86);
}

.button__postForm{
    width: 200px;
    height:50px;
    margin:auto;
    margin-left: 35px;
    font-size: 15px;
    border: 1px solid black;
    border-radius: 15px;
}

.button__postForm:hover{
    background-color: #c9a38c;
    cursor: pointer;
    border: 2px solid black;
    transition: 0.5s;
}

.title__added{
    font-size: 20px;
    justify-content: center;
    margin: auto;
    margin-bottom: 15px;
}

/* End Modal window */