<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form to add a book</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div class="wrapper">
        <header class="header">HEADER</header>
        
        <div class="container__form">

            <h1 class="main__title-form">Upload a new Book</h1>
            <form class="form" action="/books/submit" method="post">
                
                <input type="text" placeholder="Book Name" name="name" id="
                name"> 
                <input type="text" placeholder="Book Author" name="author" id="author"> 
                <input type="text" placeholder="Book Category" name="category" id="category">
                <button class="submit" type="submit">Submit</button>
            </form>
        </div>
    </div>
    <footer>FOOTER</footer>
</body>
</html>